.error{
    color: red;
    margin-left: 10px;
    font-size: 12px;
    padding: 5px 7px;
    background-color: lightpink;
    border-radius: 10px;
}

.successHeader,.errorHeader {
    text-align: center;
    background-color: lightgreen;
    padding: 6px 8px;
    border-radius: 6px;
    color: darkgreen;
}

.successHeader {
    background-color: lightgreen;
    color: darkgreen;
}

.errorHeader {
    background-color: lightpink;
    color: red;
}
